#root {
  margin: 0;
  text-align: center;
  background-color: yellowgreen;
}

.main-page {
  background-color:yellowgreen;
  /* background-image: url("/public/github.png");
  background: size 20%; */
  background-repeat:unset;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: yellowgreen 1px solid;
}

.full-page {
  height: 100vh;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  padding: 1rem;
}

.search-label {
  font-size: xx-large;
}

.submit-input {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-button {
  margin-left: 2rem;
  border-width: 2px;
  border-color: #5323d7;
  background-color: #fae712;
}

.sort-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

svg {
  color: #fae712;
}

.repo-bullet-point {
  list-style-type: none;
}
